# Ignore PyCharm project files
.idea/

# Ignore virtual environments
.venv/

# Ignore __pycache__ folders
__pycache__

# Ignore main.py
main.py

# Ignore *.pyc files
*.pyc

# Ignore .DS_Store
.DS_Store
